<div class="form-width">
<%  if @post.errors.any? %>
    <ul>
        <% @post.errors.full_messages.each do |msg| %>
            <li>
                <%= msg %>
            </li>
        <% end  %>
    </ul>
<% end %>

    <%= form_for @post do |f| %>
        <div class="form">
            <div class="form-item">
                <%= f.label :title, class:"form-label" %>
                <%= f.text_field :title, rows: 1,class:"form-field" %>
            </div>
            <div class="form-item" >
                <%= f.label :body, class:"form-label" %>
                <%= f.text_area :body, rows: 5, class:"form-field" %>
            </div>
            <div>
                <%= f.submit "Save Edits", class:'form-btn' %>
            </div>
        </div>
    <% end %>
</div>