
<article>
<div class="container">
    <div class="card-blog">
       
            <h2 class="card-header"> <%= @post.title %> </h2>
            <p class="card-body card-body-text"><%= @post.body %> </p>
             <p class=" user"> 
             <%=  @post.user&.full_name %>
             </p>
            <p class="card-created">Post created <%=  time_ago_in_words(@post.created_at) %> ago </p>
        
        <div>

            <%= link_to "Edit", edit_post_path(@post), class:"form-btn" %>
            <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Delete post"}, class:"form-btn" %>

        </div>
        </div>
        </div>
    </div>
    <div class="card-comment">
        <h3 >Comments</h3>
        <div>
            <%= render "/posts/form_comment" %>
        </div>



        <div>
            <% @comments.each do |comment| %>
            <div class="top-border comment-log">
            <%= comment.body %>

            <div class="comment-log-footing">
            <div>
            <%= comment.user&.full_name %>
            </div>
            <div>

            <%=  time_ago_in_words(comment.created_at)  %> 
            </div>
            <div>

                <%= link_to "Delete comment", post_comment_path(@post, comment), method: :delete, data: {confirm: "Are you sure?"}, class:"comment-btn" %>
            </div>

            </div>
            </div>
            <% end %>
        </div>
 
</article>