<%- include('../partials/header') %>
 <% cohorts.forEach(cohort => { %>
<div class="container border">
  <img src="<%= cohort.logoUrl %>" alt="icon" class="hero-img" />
  <h3>
    <%= cohort.name %>
  </h3>
  <p>
    <%= cohort.members %>
 
  </p>

  <a href="/cohorts/<%= cohort.id %>" class="button btn btn-primary">
    Show cohort
  </a>

  </div>
  <% }); %>

<%- include('../partials/footer') %>
