
<%  if @user.errors.any? %>
    <ul>
        <% @user.errors.full_messages.each do |msg| %>
            <li>
                <%= msg %>
            </li>
        <% end  %>
    </ul>
<% end %>

 <div class="form">

    <%= form_with(model: @user, url: edit_password_path, local: true) do |f| %>

        <div class="form-item">
            <%= f.label :current_password, class:"form-label form-label-long" %>
            <%= f.password_field :current_password,class:"form-field" %>
        </div>

        <div class="form-item">
            <%= f.label :new_password, class:"form-label form-label-long" %>
            <%= f.password_field :password,class:"form-field " %>
        </div>

        <div class="form-item">
            <%= f.label :password_confirmation, class:"form-label form-label-long" %>
            <%= f.password_field :password_confirmation,class:"form-field" %>
        </div>

        <div class="form-item">
            <%=f.submit "Update Password", method: :patch, class:'form-btn' %>
        </div>
    </div>
<% end %>
